<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chad.baserecyclerviewadapterhelper">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PullToRefreshUseActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AnimationUseActivity" />
        <activity android:name=".HeaderAndFooterUseActivity" />
        <activity android:name=".SectionUseActivity" />
        <activity android:name=".MultipleItemUseActivity" />
        <activity android:name=".EmptyViewUseActivity" />
        <activity android:name=".ItemDragAndSwipeUseActivity" />
        <activity android:name=".ExpandableUseActivity" />
        <activity android:name=".DataBindingUseActivity" />
        <activity android:name=".ItemClickActivity"/>
        <activity android:name=".base.BaseActivity"/>
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTask" />
        <activity android:name=".UpFetchUseActivity" />
    </application>

</manifest>